{# page de la premiere verification #}
{% extends 'base.html.twig' %}
{% block title %} verification{% endblock %}
{% block navbar %}

    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ path('page_index', {id: user.id}) }}"><h2>ACCUEIL</h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <li class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        {#<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>#}
                    </li>
                </ul>
            </li>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a  class="nav-link" href="#" id="receivedDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{{ asset('assets/svg/envelope.svg') }}" style="height:30px;">
                        {# Debut de la gestion de la notification#}
                        {% set i = 0 %}
                        {% for liste in listeCourrier %}
                            {% if liste.recipient.id == user.id %}
                                {% if liste.isRead == 0  %}
                                    {% set i = i + 1 %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% if i == 0 %}
                            <span class="badge rounded-pill badge-notification bg-danger badge badge-danger badge-counter d-none ">  {{ i }}</span>
                        {% else %}
                            <span class="badge rounded-pill badge-notification bg-danger badge badge-danger badge-counter "></span>
                        {% endif %}
                        {# fin #}
                    </a>

                    <div class="dropdown-menu dropdown-menu-right drop" aria-labelledby="receivedDropdown">
                        <h6 class="dropdown-header text-center" >CENTRE COURRIER</h6>
                        {% if app.user.received|length == 0 %}
                            <p class="text-center"> Aucun courrier reçus </p>
                        {% else %}
                            {% for liste in listeCourrier %}
                                {% if liste.recipient.id == user.id %}
                                    {% set bold = "" %}
                                    {% if liste.isRead == 0  %}
                                        {% set bold ="font-weight-bold" %}
                                    {% endif %}
                                    <a href="{{ path("excel", {id: liste.id}) }}" class="d-flex hope {{bold}}" style="height:5.3rem;">
                                        <div class ="jo">
                                            <img class="rounded-circle" src="{{ asset('assets/svg/abstract-user.svg') }}">
                                        </div>
                                        <div style="display:block;">
                                            <div class="text " style="color:black;">
                                                {{ liste.nomC }}
                                            </div>
                                            <div style="color:#b7b9cc;" class="text-truncate">
                                                {{ liste.sender.nom}} , {{ liste.status}}
                                            </div>
                                        </div>
                                    </a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}


                        <a class="dropdown-item text-center" href="{{ path('received') }}">Voir tous les courriers</a>
                    </div>

                    </a>
                </li>
            </ul>

            {# acces de la liste uniquement au utilisateur ayant le role admin #}
            <ul class="navbar-nav">
                <li class="nav-item">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="nav-link" href="{{ path('user_index') }}">Liste d'utilisateur</a>
                    {% endif %}
                </li>
            </ul>
            {#fin#}

            <ul class="navbar-nav">
                <div class="dropdown">
                    <li class="nav-item">
                        <img src ="{{asset('assets/svg/4.png')}}" class="img-profile rounded-circle dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <span class="dropdown-item"></span>
                            <div class="d-flex">
                                <img src ="{{asset('assets/svg/ip-address.svg')}}" style="height:25px;width:25px;">
                                <h5 style="margin-left:4px;">  {{ user.IP }}</h5>
                            </div>
                            <div  class="d-flex text-center" style="margin-top:5px;">
                                <img src ="{{asset('assets/svg/profile_icon.png')}}" style="height:25px;width:25px;">
                                <h5 style="margin-left:4px;">  {{ user.Nom }}</h5>
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="d-flex">
                                <img src ="{{asset('assets/svg/logout.svg')}}">
                                <a class="dropdown-item" style="padding-left:2px;" href="{{ path('app_logout') }}">Déconnexion</a>
                            </div>
                        </div>
                    </li>
                </div>
            </ul>

        </nav>
    </header>
{% endblock %}
{% block body %}
  <fieldset class="border" style="width:400px; height:auto; margin-left:30px;" >
      <legend class="w-auto font-weight-bold "><h4> A propos du courrier </h4> </legend>
      <p> <span class="font-weight-bold"> NOM Courrier : </span> {{ courrier.nomC }}  </p>
      <p> <span class="font-weight-bold"> Notes : </span> {{ courrier.notes }}  </p>
      <p> <span class="font-weight-bold"> Status : </span> {{ courrier.status }}  </p>
      <p> <span class="font-weight-bold"> Destinataire : </span> {{ courrier.recipient.nom }}  </p>
  </fieldset>

          <div class="row text-center" style="margin-top: 30px">
              <div class="col-12 justify-content-center">
                <div class="card card-trap"><div class="card-header">  <h1>vérification des pieces</h1></div>
                    <div class="card-body">
                        <button class="btn btn-primary add" onclick="ajoutLigne()"> Ajouter </button>
                        <button class="btn btn-danger del" onclick="delLigne()" title ="Pour supprimer une ou plusieurs lignes cliquer sur une des cases à cocher correspondant de la colonne choix"> supprimer </button>
                        <table style="margin-top:30px;" class="table table-striped table-bordered table_data">
              <thead>
              <tr>
                  <th class="text-center d-none" style="width:30px" >  idcourrier </th>
                  <th class="text-center" style="width:30px" >  choix </th>
                  <th class="text-center" style="width:200px" >N° cmd</th>
                  <th class="text-center" style="width:200px" > N° récept </th>
                  <th class="text-center" >N°BL</th>
                  <th class="text-center">Fournisseur</th>
                  <th class="text-center" style="width:200px">Rayon</th>
                  <th class="text-center" style="width:200px">D.réception</th>
                  <th class="text-center" style="width:200px">Montant HT</th>
                  <th class="text-center"  style="width:60px;">Valide</th>
                  {# <th>Entrée</th> #}
              </tr>
              </thead>
              <tbody>
              {% set nbPiece = 0 %}

              {% for piece in pieces %}

                  <tr class="ligne_depart" data-id="{{ piece.id }}">
                      <td class="id_cour d-none" data-idcour="{{ id_courrier }}"> {{id_courrier}}</td>
                      <td>  <input type="checkbox" class="del" name="select" data-ident="{{ piece.id }}"> </td>
                      <td class="text-center">{{ piece.nCMD}} </td>
                      <td class="text-center">{{ piece.nRecept}} </td>
                      <td class="col_NBL" style="width:200px;"> <input type="text" class="form-control inp_nbl" required> </td>
                      <td class="text-center">{{ piece.fournisseur }}</td>
                      <td class="text-center"> {{ piece.rayon }} </td>
                      <td class="text-center"> {{ piece.DReception }} </td>
                      <td class="text-center"> {{ piece.montantHT }} </td>
                      <td class="col_checkbox"> <input type="checkbox" class="form-control boxcheck" data-id="{{ piece.id }}" ></td>
                  </tr>
                  {% set nbPiece = nbPiece + 1 %}
              {% endfor %}
             <p> Total des pieces : <span class="valeur">{{ nbPiece }}</span> </p>
              </tbody>
          </table>
                    </div>
                </div>
              </div>
          </div>
        <button class="btn btn-dark float-right" style="margin-right:20px;" onclick="Save()"> Suivant</button>
        <button class="btn btn-danger float-left" style="margin-right:20px;" onclick="annulation()"> Annuler </button>

          <script>
              //pour verifier si tous les NB_L sont complétés
              function verificatest()
              {
                  var i = 0;
                  $('.col_NBL').each(function(index,value){
                      var el_NBL = value.getElementsByClassName('inp_nbl');
                      var nbl_d = $(el_NBL).val();
                      if (nbl_d== "")
                      {
                          console.log(" champs non complétés");

                      }
                      else {
                          var i = i + 1;
                      }
                  })
              }
              //Ajout de ligne
              function ajoutLigne()
              {

                  var ligne="<tr class='ligne'><td><input type='checkbox' class='del'  name='select' ></td><td><input type='text' class='form-control cmd'  ></td> <td><input type='text' class='form-control recept'  ></td> <td><input type='text' class='form-control NBL' name='' ></td> <td><input type='text' name='' class='form-control fournisseur'></td> <td><input type='text' name='' class='form-control rayon'></td><td><input type='text' name='' class='form-control reception'></td><td><input type='text' name='' class='form-control montant'></td> <td><input type='checkbox'  class='form-control box' name='' ></td>";
                  $(".table_data > tbody:last").append(ligne);
                 // modification du total de piece
                  var val = $('.valeur').text()
                      var val_ajout = parseInt( $('.valeur').text()) + 1;
                  $('.valeur').text(val_ajout);
                  console.log(val_ajout);
                  //$('.valeur').replaceAll(val_ajout);
              }
              //suppression de ligne
              function delLigne()
              {
                  var tad = [];
                 $(".table_data").find('input[class ="del"]').each(function(){
                     if($(this).is(":checked")) {
                         var cheks = $(this).is(":checked");
                         var idd = $(this).data("ident");
                         var ldi = {
                             'check': cheks,
                             'id_d': idd,
                         }
                         $(this).parents("table.table_data tr").remove();
                         tad.push(ldi);
                     }
                 })
                     console.log(tad);
                     // modification du total de piece
                    var long = tad.length;
                    console.log(long);
                    var val_del = parseInt($('.valeur').text()) - long;
                    $('.valeur').text(val_del);
                    console.log(val_del);

                    $.ajax({
                         url:'{{ path('ajax_delete_line') }}',
                         method:'POST',
                         data:{tad: tad},
                         success:function(){
                             bootbox.alert('Suppression effectuée');


                         }
                     })
              }
              //methode pour enregistrer en BD les ajouts et les NBL entrée et le checkbox checker
              function Save() {
                  //colonne NBL
                  var id = {{ courrier.id }}
                  var tab_D = []; //tableau contenant les NBL et si la ligne est valide(checked)
                  var ok  = true;
                  $('.ligne_depart').each(function (index, value) {
                      var el_NBL = value.getElementsByClassName('inp_nbl');
                      var nbl_d = $(el_NBL).val();
                      if(nbl_d == "")
                      {
                          ok  = false;
                      }
                      var el_checkbox = value.getElementsByClassName('boxcheck');
                      var chek = $(el_checkbox).is(":checked");
                      var id_ligne = $(this).data("id");
                      var ld = {
                          'N° BL_D': nbl_d,
                          'check_D': chek,
                          'id_l': id_ligne,

                      }
                      tab_D.push(ld);
                  })
                  if(ok == false)
                  {
                      bootbox.alert('N\'oubliez pas de remplir le N° BL !');
                  }
                  console.log('tableau de depart :');
                  console.log(tab_D);
                  //script pour l'ajout de ligne
                  var tab_lignes = [];
                  $.each($('.ligne'), function (index, value) {
                      var el_cmd = value.getElementsByClassName('cmd')
                      var cmd = $(el_cmd).val();
                      var el_recept = value.getElementsByClassName('recept')
                      var recept = $(el_recept).val();
                      var el_nbl = value.getElementsByClassName('NBL')
                      var nbl = $(el_nbl).val();
                      var el_fourni = value.getElementsByClassName('fournisseur')
                      var fourni = $(el_fourni).val();
                      var el_rayon = value.getElementsByClassName('rayon')
                      var rayon = $(el_rayon).val();
                      var el_reception = value.getElementsByClassName('reception')
                      var reception = $(el_reception).val();
                      var el_montant = value.getElementsByClassName('montant')
                      var montant = $(el_montant).val();
                      var el_boxcheck = value.getElementsByClassName('box')
                      var boxcheck = $(el_boxcheck).is(":checked");
                      var ligne = {
                          'n_cmd': cmd,
                          'n_recept': recept,
                          'N_BL': nbl,
                          'fournisseur': fourni,
                          'rayon': rayon,
                          'd_reception': reception,
                          'montant_ht': montant,
                          'boxcheck': boxcheck,
                      }
                      tab_lignes.push(ligne);
                  });
                  console.log('tableau d\'ajout: ');
                  console.log(tab_lignes);
                  console.log(ok);

                  if (ok = true)
                  {
                      $.ajax({
                          url:'{{  path('ajax_add_line') }}',
                          method:'POST',
                          data:{tab: tab_lignes, id: id, tab_d: tab_D},
                          success:function(){
                              console.log('le contenu est sauvegarder');
                              window.location.replace("{{ path('second_verification',{id: courrier.id}) }}");
                          }
                      })
                  }

              }
              function annulation()
              {
                  bootbox.confirm({
                      size: "small",
                      message: "Voulez-vous vraiment annuler?",
                      callback: function (result) {
                          /* result is a boolean; true = OK, false = Cancel*/
                          if (result) {
                             var idCourr = $('.id_cour').data("idcour");
                              console.log(idCourr);
                                $.ajax({
                                  url:'{{  path('ajax_cancel') }}',
                                  method:'POST',
                                  data:{idC:idCourr},
                                  success:function(){
                                     window.location.replace("{{ path('page_index', {id: user.id}) }}");
                                  }
                              })
                          }

                      }
                  })
              }
              // ajax modification de la valeur de la colone validate
              function confirm()
              {
                  var checkboxes = $('.boxcheck');
                  var arrayIds = [];
                  //parcour avec each
                  $.each(checkboxes , function (index,value) {
                      arrayIds.push($(this).data('id'))
                  });
                  console.log(arrayIds)
                  setDisabled(arrayIds);
                  //alert(disabled);
              }
          </script>
  {% endblock %}